---
import Layout from '../../layouts/testLayout.astro';
---

<Layout title="インフォページ12">
    <!-- <h1>{title}</h1> -->
    <!-- <p>{logo}</p> -->
    <!-- <img src={logo} alt="loading"> -->
    <p>インフォ</p>
</Layout>