---
// import Welcome from '../components/Welcome.astro';
// import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const name = 'Astro';
const nav1 = 'ホーム';
const nav2 = '会社情報';
const nav = ['ホーム', '会社情報', 'お問い合わせ'];
---

<html>
	<meta charset="UTF-8">

	<ul>
		{nav.map((nav_item) =>
		<li>{nav_item}</li>
		)}
	</ul>

	<p>{name}</p>
</html>
<!-- <Layout> -->
	<!-- <Welcome /> -->
<!-- </Layout> -->

