---
const nav = [
    {
        href: 'about',
        label: 'インフォ'
    },
    {
        href: 'about/contact',
        label: '問い合わせ'
    }
]
---

<html>
    <meta charset="UTF-8">

    <ul>
        {
        nav.map((nav_item) =>
            <li><a href={nav_item.href}>{nav_item.label}</a></li>
        )}
    </ul>
</html>